<div class="container">
  <div class="rowalign-items-center">
    <div class="col-auto mx-auto">
      <p id="notice"><%= notice %></p>

      <h1>insta_clone</h1>
      <table>
        <%= link_to 'New Picture', new_picture_path %>
          <tbody>
            <% @pictures.each do |picture| %>
              <div class="card p-1 m-2">
                <% if picture.photo.url.present? %>
                  <%= image_tag (picture.photo.url) %>
                <% end %>
                  <div class="card-body">
                  <h6 class="card-title"><%= picture.content %></h6>
                  <p class="card-text">name:<%= picture.user.name %></p>
                  <p class="card-text"><small class="text-muted">
                    <%= link_to 'Show', picture %>
                    <% if picture.user_id == current_user.id %>
                      <%= link_to_if(true, 'Edit', edit_picture_path(picture)) %>
                      <%= link_to_if(false, 'Edit', edit_picture_path(picture)){} %>
                    <% end %>
                    <% if picture.user_id == current_user.id %>
                      <%= link_to_if(true, 'Destroy', picture, method: :delete, data: { confirm: 'Are you sure?' })%>
                      <%= link_to_if(false, 'Destroy', picture, method: :delete, data: { confirm: 'Are you sure?' }){}%>
                    <% end %></small></p>
                  </div>
              </div>
            <% end %>
          </div>
        </tbody>
      </table>
    </div>
  </div>
</div>
<br>
<%= link_to 'New Picture', new_picture_path %>
